:local {
  .title {
    margin-top: 5px;
    margin-bottom: 0px;
  }

  .container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  .list {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
